doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Google users in
    body
        div.container
            p.greet Please, log in:
            a.logout(href="/logged") 
                input(type="text",name="profile",placeholder="login")
                input(type="email",name="email",placeholder="email")
                input(type="submit",value="Submit")