doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Google users in
    body
        div.container
          p.greet You are log in #{user.displayName}!
          a.logout(href="/") Logout